

#paragraphe {
    display: flex;
    width: 1000px;
    justify-content: center;
    padding-left: 100px;

}

.titre{
    text-align: center;
    font-family: noto serif ;
    color: black;
}
header {
    background-color: #240046;
    color: #EFECF5;
}


#robot {
    width: 60%;
}
